/*////////////////////////UNIVERSAL///////////////////////////////*/
header {
  /*background: red;*/
  font-size: 48px;
  font-family: Arial;
  font-weight: bold;
  color: #013220;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
  height: 10%; /*13% total heighht with margins*/
}

#page_links_div {
  /*background: blue;*/
  font-size: 20px;
  font-family: Arial;  
  margin-left: 10%;
  margin-right: 10%;
  height: 1%;
  margin-bottom: 2%; /*3% total height with margins*/
  display: flex;
  /*justify-content: space-between;*/
  justify-content: center; 
  align-items: center;
}

#pos_page {
  font-family: Arial;
  font-size: 16px;
  color: #5a5a5a;
  padding: auto;
  margin-bottom: auto;
	background: white;
	border: none;
	outline: none;
}

#salesdash_page {
  font-family: Arial;
  font-size: 16px;
  color: #5a5a5a;
	padding: auto;
  margin-bottom: auto;
	background: white;
	border: none;
	outline: none;
}

#inventory_page {
  font-family: Arial;
  font-size: 16px;
  color: #5a5a5a;
	padding: auto;
  margin-bottom: auto;
	background: white;
	border: none;
	outline: none;
}

#analytics_page {
  font-family: Arial;
  font-size: 16px;
  color: #5a5a5a;
	padding: auto;
  margin-bottom: auto;
	background: white;
	border: none;
	outline: none;
}

#help_page {
  font-family: Arial;
  font-size: 16px;
  color: #5a5a5a;
	padding: auto;
  margin-bottom: auto;
	background: white;
	border: none;
	outline: none;
} 

#logout_page {
  font-family: Arial;
  font-size: 16px;
  color: #5a5a5a;
  padding: auto;
  margin-bottom: auto;
	background: white;
	border: none;
	outline: none;
}

#main_content_div {
  /*background: green;*/
  width: 100%
  margin-top: 1%;
  margin-bottom: 1%;
  height: 76%;
  min-height: 550px; /*79% total height with margins*/
}

footer {
  /*background: #666666;*/
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  color: #888888;
  border-top: 1px solid #666666;
  background: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 2%;
  height: 4%; /*8% total height with margins*/
}

.form-group.shiny-input-container {
  width: 100%;
  height: 100%;
  text-align: center;
  /*background: green;*/
}

.selectize-input {
  height: 100%; 
  width: 100%; 
  font-size: 15px;
  min-height: 30px;
  border: solid 1px #000000;
  margin-bottom: 5%;
  vertical-align: middle;
}

/*////////////////////////LOGIN PAGE///////////////////////////////*/
#login_div {
  /*justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;*/
  height: 100%;
  width: 100%;
  min-height: 500px;
}

#login {
background: #F5F5F5;
  width: 30%;
min-height: 300px;
margin-left: 35%;
margin-right: 35%;
margin-top: 5%;
}

#login_title_div {
background: #000000;
  margin-bottom: 10%;
text-align: center;
font-family: Arial;
font-weight: bold;
font-size: 30px;
color: #F5F5F5;
  width: 100%;
min-height: 40px;
vertical-align: middle;
margin-left: 0%;
margin-right: 0%;
}

#employee_admin_div {
  width: 70%%;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#employee {
  background: #424242;
  color: #F5F5F5;
  height: 100%;
  font-family: Arial;
  font-weight: bold;
  min-height: 40px;
}

#admin {
  background: #424242;
  color: #F5F5F5;
  height: 100%;
  font-family: Arial;
  font-weight: bold;
  min-height: 40px;
}

#username_div {
  margin-left: 20%;
  margin-right: 20%;
}

#password_div {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

/*////////////////////////POINT OF SALE///////////////////////////////*/
#pos_div {
  /*justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;*/
  height: 100%;
  min-height: 500px;
  display: flex;
}

#pos_entry_info_div {
  background: #F5F5F5;
  width: 20%;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
  border: 5px solid #000000;
  border-radius: 15px;
}

#pos_entry_info_title_div {
  background: #000000;
  margin-bottom: 10%;
  /*margin-top: 10%;*/
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: #F5F5F5;
  width: 100%;
}

#POS_Point_of_Sale_ui_1-customer_name {
  width: 90%;
  height: 100%;
  font-size: 20px;
  /*background: blue;*/
  min-height: 40px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 5%;
  margin-left: 5%;
  border: solid 1px #000000;
}

#POS_Point_of_Sale_ui_1-product_name {
  /*background: blue;*/
  font-size: 15px;
  width: 90%;
  height: 100%;
  display: block;
  min-height: 40px;
  text-align: center;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#POS_Point_of_Sale_ui_1-product_qty {
  /*background: blue;*/
  font-size: 20px;
  width: 90%;
  height: 100%;
  display: block;
  font-weight: bold;
  min-height: 40px;
  text-align: center;
  border: solid 1px #000000;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#POS_Point_of_Sale_ui_1-add_product {
  background: #092208;
  width: 80%;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  min-height: 40px;
  border: solid 3px #000000;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  color: #F5F5F5;
  margin-bottom: 10%;
}

#del_product_name_div {
  margin-right: 10%;
  margin-left: 10%;
}

#POS_Point_of_Sale_ui_1-delete_product {
  background: #800000;
  width: 80%;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  min-height: 60px;
  border: solid 3px #000000;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  color: #F5F5F5;
  margin-bottom: 10%;
}

#pos_total_div {
  width: 20%;
  background: #F5F5F5;
  height: 100%;
  min-height: 200px;
  margin-left: 3%;
  margin-right: 3%;
  border: 5px solid #000000;
  border-radius: 15px;
}

#pos_total_title_div {
  background: #000000;
  margin-bottom: 10%;
  /*margin-top: 10%;*/
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: #F5F5F5;
  width: 100%;
}

#pos_total_amt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

#pos_approve_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

#POS_Point_of_Sale_ui_1-pos_approve {
  background: #092208;
  width: 80%;
  height: 100%;
  font-size: 150%;
  font-weight: bold;
  min-height: 60px;
  border: solid 3px #000000;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  color: #F5F5F5;
  margin-bottom: 10%;
  display: flex;
  justify-content: center; 
  align-items: center;
  /*text-align: center;
  vertical-align: middle;*/
}

#pos_clear_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

#POS_Point_of_Sale_ui_1-pos_clear {
  background: #800000;
  width: 80%;
  height: 100%;
  font-size: 150%;
  font-weight: bold;
  min-height: 60px;
  border: solid 3px #000000;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  color: #F5F5F5;
  margin-bottom: 10%;
  /*text-align: center;
  vertical-align: middle;*/
}

#pos_print_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

#POS_Point_of_Sale_ui_1-pos_print1 {
  background: #152238;
  width: 80%;
  height: 100%;
  font-size: 150%;
  font-weight: bold;
  min-height: 60px;
  border: solid 3px #000000;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  color: #F5F5F5;
  margin-bottom: 10%;
  display: flex;
  justify-content: center; 
  align-items: center;
  /*text-align: center;
  vertical-align: middle;*/
}

#POS_Point_of_Sale_ui_1-pos_print {
  background: #152238;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-weight: bold;
  min-height: 60px;
  display: flex;
  justify-content: center; 
  align-items: center;
  color: #F5F5F5;
  /*margin-right: 10%;
  border: solid 3px #000000;
  border-radius: 5px;
  margin-left: 10%;
  margin-bottom: 10%;
  */
  /*text-align: center;
  vertical-align: middle;*/
}

#pos_table_div {
  width: 42%;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
  border: 5px solid #000000;
  border-radius: 15px;
}

#pos_table_title_div {
  background: #000000;
  margin-bottom: 5%;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  color: #F5F5F5;
  width: 100%;
  min-height: 40px;
  vertical-align: middle;
}

#POS_Point_of_Sale_ui_1-pos_table_output {
  min-height: 50px;
  /*min-width: 80%;*/
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  /*justify-content: space-between;
  align-items: center;*/
}

#POS_Point_of_Sale_ui_1-pos_table_total {
  background: none;
  width: 80%;
  height: 100%;
  font-size: 60px;
  font-weight: bold;
  min-height: 60px;
  margin-right: 10%;
  margin-left: 10%;
  color: #000000;
  margin-bottom: 10%;
  /*text-align: center;
  vertical-align: middle;*/
}

/*////////////////////////SALES DASHBOARD///////////////////////////////*/
#salesdash_div {
  /*justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;*/
  height: 100%;
  min-height: 500px;
  display: flex;
}

#salesdash_inputs_title_div {
background: #000000;
  margin-bottom: 10%;
text-align: center;
font-family: Arial;
font-weight: bold;
font-size: 30px;
color: #F5F5F5;
  width: 100%;
min-height: 40px;
vertical-align: middle;
margin-left: 0%;
margin-right: 0%;
}

#salesdash_inputs_div {
  width: 30%;
}

#salesdash_display_div {
  width: 70%;
  height: 100%;
  min-height: 550px;
  margin-left: 3%;
  margin-right: 3%;
  border: 5px solid #000000;
  border-radius: 15px;
}

#POS_Sales_Dashboard_ui_1-salesdash_display {
  min-height: 550px;
}


/*///////////////////ANALYTICS LINKS//////////////////////////////////*/
#analytics_div {
  /*justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;*/
  height: 100%;
  min-height: 500px;
  display: flex;
}

#analytics_inputs_title_div {
background: #000000;
margin-bottom: 10%;
text-align: center;
font-family: Arial;
font-weight: bold;
font-size: 30px;
color: #F5F5F5;
  width: 100%;
min-height: 40px;
vertical-align: middle;
margin-left: 0%;
margin-right: 0%;
}

#analytics_inputs_div {
  width: 30%;
}

#analytics_display_div {
  width: 70%;
  height: 100%;
  min-height: 550px;
  margin-left: 3%;
  margin-right: 3%;
  border: 5px solid #000000;
  border-radius: 15px;
}

#POS_Analytics_ui_1-analytics_display {
  min-height: 550px;
}

#inventory_div {
  /*justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;*/
  height: 100%;
  min-height: 500px;
  display: flex;
}

#inventory_inputs_div {
  width:30%;
}

#inventory_inputs_title_div {
background: #000000;
margin-bottom: 10%;
text-align: center;
font-family: Arial;
font-weight: bold;
font-size: 30px;
color: #F5F5F5;
  width: 100%;
min-height: 40px;
vertical-align: middle;
margin-left: 0%;
margin-right: 0%;
}

#inventory_queried_product_div {
  width: 80%;
  min-height: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#inventory_quantity_on_hand_div {
  width: 80%;
  min-height: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#inventory_new_quantity_div {
  width: 80%;
  min-height: 40px;
  margin-left: 10%;
  margin-right: 10%;  
  font-size: 20px;
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10%;
}

#inventory_updated_quantity_div {
  width: 80%;
  min-height: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#add_quantity_div {
  width: 80%;
  min-height: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

#inventory_updated_product_div {
  width: 70%;
  height: 100%;
  min-height: 550px;
  margin-left: 3%;
  margin-right: 3%;
  border: 5px solid #000000;
  border-radius: 15px;
}